#container-booking { margin-top: 46px; }
#container-booking hr { border-top: 1px solid var(--color-gray-300); }
#form-order hr:last-of-type {
  margin-top: 40px;
  margin-bottom: 43px;
}
.msg-no-booking {
  margin-top: 35px;
  padding: 0;
  transition: opacity .2s ease;
  display: none;
}
.section-booking { 
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
}
.title-booking { margin-bottom: 35px; }
#form-order .title-booking { margin-bottom: 24px; }
.grid-booking {
  padding: 0;
  min-height: 200px;
  position: relative;
}
.grid-booking .info-booking { margin-top: 10px; }
.grid-booking .info-booking > span:nth-child(1) { font-weight: 700; }
.grid-booking .info-booking:nth-child(1) {
  color: var(--color-cyan-800);
  margin-top: 3px;
  font-weight: 700;
}
.grid-booking .info-booking:nth-child(2) { margin-top: 20px; }
.row-booking { opacity: 0; }
.row-tappay {
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  gap: 3px
}
.col-booking { margin: 0 15px 40px 15px; }
.col-booking-right { position: relative; }
.col-booking-left { flex-grow: 0; }
.wrap-thumbnail-booking {
  width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.thumbnail-booking {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cancel-booking {
  position: absolute;
  top: 0; right: 0;
  cursor: pointer;
  transition: filter .2s ease-in-out;
}
.cancel-booking:hover { filter: brightness(70%) sepia(100%) hue-rotate(-50deg) saturate(600%); }
.title-booking {
  font-size: var(--font-size-md);
  font-weight: 700;
}
#form-order input {
  height: 38px;
  border: 1px solid var(--color-gray-300);
  border-radius: 5px;
  text-indent: 10px;
  transition: border .2s ease;
  outline: none;
}
.field-booking {
  width: 305px;
}
.input-icon-invalid-booking {
  top: calc(50% - 11px) !important;
  right: 13px !important;
}
#form-order input:focus { border: 1px solid var(--color-cyan-800); }
#form-order > .section-booking > div { margin-top: 15px; }
#form-order > .section-booking > div:nth-child(1) { margin-top: 44px; }
#form-order > .section-booking > div:nth-child(2) { margin-top: 24px; }
#msg-order {
  margin-top: 20px;
  margin-bottom: 45px;
  font-weight: 700;
}
#price-booking, #button-order { margin-left: auto; }
#price-booking {
  width: fit-content;
  font-weight: 700;
  margin-bottom: 25px;
}
#button-order {
  display: block;
  width: 173px;
  height: 36px;
  margin-bottom: 37px;
}
@media screen and (max-width: 1200px) {
  #container-booking { padding: 0 25px; }
}
@media screen and (max-width: 854px) {
  #container-booking { padding: 0 10px; }
  .wrap-thumbnail-booking { width: 100%; }
  .col-booking-left { margin: 0 15px 20px 15px; }
  .col-booking-right {
    margin: 0 15px 30px 15px;
    padding-bottom: 35px;
  }
  .cancel-booking { top: unset; bottom: 0; right: 0; }
}