#hero {
  flex: 0 0 320px;
  background: url('/static/image/welcome.png') no-repeat,
              linear-gradient(135deg, var(--color-cyan-100) 0%, var(--color-cyan-700) 100%);
  background-position: 83% bottom, center center;
  background-origin: content-box;
  background-size: contain;
  margin-bottom: 55px;
}
#hero > .container {
  color: var(--color-gray-50);
  padding: 85px 0 0 10px;
}
#hero > .container > div:nth-child(1) {
  text-shadow: 0px 0px 30px var(--color-text-shadow);
  font-size: var(--font-size-slogan);
  font-weight: 700;
  margin-bottom: 15px;
}
#hero > .container > div:nth-child(2) {
  text-shadow: 0px 0px 30px var(--color-text-shadow);
  margin-bottom: 25px;
}
#form-search-attractions {
  height: 46px;
  display: flex;
}
#form-search-attractions > label { display: none;}
#form-search-attractions > input {
  height: 100%;
  width: 400px;
  border-radius: 5px 0 0 5px;
  border: 1px solid transparent;
  text-indent: 15px;
  font-weight: 700;
  color: var(--color-gray-700);
  outline: none;
  transition: border .2s ease;
}
#form-search-attractions > input:focus {
  border: 1px solid var(--color-cyan-800);
}
#form-search-attractions > button {
  display: inline-block;
  height: 100%;
  width: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: var(--color-cyan-800);
  background-image: url('/static/image/icon_search.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
  cursor: pointer;
}
#container-attractions {
  position: relative;
  flex: 1 0 auto;
  height: auto;
}
.sentinel-attractions {
  height: 50px;
  margin: 20px 0 25px 0;
}
.attraction {
  height: 242px;
  border: 1px solid var(--color-gray-300);
  border-radius: 5px;
  background-color: var(--color-white);
  overflow: hidden;
  opacity: 0;
}
.link-attraction {
  display: block;
}
.wrap-thumbnail-attraction {
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
  transition: filter .3s ease-in-out;
}
.wrap-thumbnail-attraction:hover {
  filter: brightness(0.75);
}
.thumbnail-attraction {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease-in-out;
}
.thumbnail-attraction:hover {
  transform: scale(1.2);
}
.title-attraction {
  display: block;
  cursor: pointer;
  color: var(--color-gray-700);
  font-weight: 700;
  margin: 10px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color .2s ease-in;
}
.title-attraction:hover {
  color: var(--color-cyan-700);
}
.subtitle-attraction {
  margin: 10px;
  font-weight: 400;
  color: var(--color-gray-700);
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  #hero { background-position: 425px bottom, center; }
  #form-search-attractions > input { width: 320px; }
}
@media screen and (max-width: 854px) {
  #hero { background-position: 265px bottom, center; }
  #form-search-attractions > input { width: 320px; }
}
@media screen and (max-width: 480px) {
  #hero { height: 280px; }
  #hero {
    background-position: 125px bottom, center;
    background-size: 80%, 100%;
  }
  #hero > .container { padding: 65px 0 0 10px; }
  #form-search-attractions > input { width: 230px; }
  .attraction { height: 285px; }
  .wrap-thumbnail-attraction { height: 202px; }
}
