#hero {
  height: 320px;
  background: url('/static/image/welcome.png') no-repeat,
              linear-gradient(135deg, var(--color-cyan-100) 0%, var(--color-cyan-700) 100%);
  background-position: 83% bottom, center center;
  background-origin: content-box;
  background-size: contain;
  margin-bottom: 55px;
}
#hero > .container {
  color: var(--color-gray-50);
  padding: 85px 0 0 10px;
}
#hero > .container > div:nth-child(1) {
  text-shadow: 0px 0px 30px var(--color-text-shadow);
  font-size: var(--font-size-slogan);
  font-weight: 700;
  margin-bottom: 15px;
}
#hero > .container > div:nth-child(2) {
  text-shadow: 0px 0px 30px var(--color-text-shadow);
  margin-bottom: 25px;
}
#form-attraction-id {
  height: 46px;
  display: flex;
}
#form-attraction-id > label { display: none;}
#form-attraction-id > input {
  height: 100%;
  width: 400px;
  border-radius: 5px 0 0 5px;
  border: 1px solid transparent;
  text-indent: 15px;
  font-weight: 700;
  color: var(--color-gray-700);
  outline: none;
  transition: border .2s ease;
}
#form-attraction-id > input:focus {
  border: 1px solid var(--color-cyan-800);
}
#form-attraction-id > button {
  display: inline-block;
  height: 100%;
  width: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: var(--color-cyan-800);
  background-image: url('/static/image/icon_search.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
  cursor: pointer;
}
#container-attractions {
  position: relative;
  flex: 1 0 auto;
}
.sentinel-index {
  height: 50px;
  margin: 20px 0 25px 0;
}
.attraction {
  height: 242px;
  border: 1px solid var(--color-gray-300);
  border-radius: 5px;
  background-color: var(--color-white);
  overflow: hidden;
}
.link-attraction {
  display: block;
}
.wrap-thumbnail-attraction {
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
}
.thumbnail-attraction {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .2s ease-in;
}
.thumbnail-attraction:hover {
  transform: scale(1.2);
}
.title-attraction {
  display: block;
  cursor: pointer;
  color: var(--color-gray-700);
  font-weight: 700;
  margin: 11px 10px 8px 10px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color .2s ease-in;
}
.title-attraction:hover {
  color: var(--color-cyan-700);
}
.subtitle-attraction {
  padding: 0 10px 13px 10px;
  font-weight: 400;
  color: var(--color-gray-700);
}
@media screen and (max-width: 1200px) {
  #hero { background-position: 425px bottom, center; }
  #form-attraction-id > input { width: 320px; }
}
@media screen and (max-width: 854px) {
  #hero { background-position: 265px bottom, center; }
  #form-attraction-id > input { width: 320px; }
}
@media screen and (max-width: 480px) {
  #hero { height: 280px; }
  #hero {
    background-position: 125px bottom, center;
    background-size: 80%, 100%;
  }
  #hero > .container { padding: 65px 0 0 10px; }
  #form-attraction-id > input { width: 230px; }
  .attraction { height: 280px; }
  .wrap-thumbnail-attraction { height: 202px; }
}
