{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style_attraction.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_carousel.css') }}">
{% endblock %}
{% block body %}
  <div id="container-spot" class="container">
    <div class="grid grid-spot-top">
      <div class="row row-spot-top">
        <div class="col-md-12 col col-spot col-spot-top col-spot-left">
          <div id="carousel-spot" class="wrap-carousel">
            <div class="carousel">
              <!-- slides -->
            </div>
            <div class="arrow left" data-direction="-1">
              <img src='/static/image/btn_leftArrow.png' />
            </div>
            <div class="arrow right" data-direction="1">
              <img src='/static/image/btn_rightArrow.png' />
            </div>
            <div class="wrap-indicator">
              <!-- indicator buttons -->
            </div>
          </div>
        </div>
        <div class="col-md-12 col col-spot col-spot-top col-spot-right">
          <form id="form-booking">
            <div class="spot-skeleton skeleton"></div>
            <div class="info-spot"></div>
            <div class="spot-skeleton skeleton"></div>
            <div class="info-spot"></div>
            <div>
              <div class="subtitle-spot">訂閱導覽行程</div>
              <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
              <div>
                <span class="subtitle-spot">選擇日期：</span>
                <label for="date-booking">
                  <input type="date" name="date-booking" id="date-booking" max="2099-12-31"/>
                </label>
              </div>
              <div>
                <span class="subtitle-spot">選擇時間：</span>
                <input type="radio" name="radio-booking" id="morning" checked/>
                <label for="morning">
                  上半天
                </label>
                <input type="radio" name="radio-booking" id="afternoon"/>
                <label for="afternoon">
                  下半天
                </label>
              </div>
              <div>
                <span class="subtitle-spot">導覽費用：</span>
                新台幣 <span id="msg-guide-fee">2000</span> 元
              </div>
              <div>
                <button type="submit" class="button-cyan button-booking">開始預訂行程</button>
                <a data-modal="modal-msg" class="trigger-msg" id="trigger-msg-attraction"></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr class="hr-spot"/>
    <div class="grid grid-spot-bottom">
      <div class="row row-spot-bottom">
        <div class="col col-spot col-spot-bottom">
          <div class="spot-skeleton skeleton"></div>
          <div class="info-spot"></div>
        </div>
      </div>
      <div class="row row-spot-bottom">
        <div class="col col-spot col-spot-bottom">
          <div class="subtitle-spot">景點地址：</div>
          <div class="spot-skeleton skeleton"></div>
          <div class="info-spot"></div>
        </div>
      </div>
      <div class="row row-spot-bottom">
        <div class="col col-spot col-spot-bottom">
          <div class="subtitle-spot">交通方式：</div>
          <div class="spot-skeleton skeleton"></div>
          <div class="info-spot"></div>
        </div>
        <div class="spacer-spot"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script type="module" src="{{ url_for('static', filename='attraction.js') }}"></script>
{% endblock %}