{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style_booking.css') }}">
{% endblock %}
{% block body %}
  <div id="container-booking" class="container">
    <div class="section-booking">
      <div class="title-booking">您好，<span class="member-name"></span>，待預定的行程如下</div>
      <div class="grid grid-booking">
        <div class="msg-hint msg-no-booking msg-no-booking-hide">目前沒有任何待預定的行程</div>
        <div class="wrap-center">
          <div class="loader"></div>
        </div>
      </div>
    </div>
    <form id="form-order">
      <hr/>
      <div class="section-booking">
        <div class="title-booking">您的連絡資訊</div>
        <div class="field field-booking">
          <label for="buyer-name">聯絡姓名：</label>
          <input type="text" id="buyer-name" name="buyer-name" placeholder="請填寫中文真實姓名">
          <div class="input-icon input-icon-invalid-booking">
            <img src="/static/image/icon_error.svg">
          </div>
        </div>
        <div class="field field-booking">
          <label for="buyer-email">聯絡信箱：</label>
          <input type="text" id="buyer-email" name="buyer-email" placeholder="example@email.com">
          <div class="input-icon input-icon-invalid-booking">
            <img src="/static/image/icon_error.svg">
          </div>
        </div>
        <div class="field field-booking">
          <label for="buyer-phone">手機號碼：</label>
          <input type="text" id="buyer-phone" name="buyer-phone" placeholder="0912000123">
          <div class="input-icon input-icon-invalid-booking">
            <img src="/static/image/icon_error.svg">
          </div>
        </div>
        <div id="msg-order">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
      </div>
      <hr/>
      <div class="section-booking">
        <div class="title-booking">信用卡付款資訊</div>
        <div class="field field-booking row row-tappay">
          <div>卡片號碼：</div>
          <div class="tpfield" id="card-number"></div>
          <div class="input-icon input-icon-invalid-booking">
            <img src="/static/image/icon_error.svg">
          </div>
        </div>
        <div class="field field-booking row row-tappay">
          <div>過期時間：</div>
          <div class="tpfield" id="card-expiration-date"></div>
          <div class="input-icon input-icon-invalid-booking">
            <img src="/static/image/icon_error.svg">
          </div>
        </div>
        <div class="field field-booking row row-tappay">
          <div>驗證密碼：</div>
          <div class="tpfield" id="card-ccv"></div>
          <div class="input-icon input-icon-invalid-booking">
            <img src="/static/image/icon_error.svg">
          </div>
        </div>
      </div>
      <hr/>
      <div class="section-booking">
        <div id="price-booking">
          總價：<span></span>
        </div>
        <button type="submit" class="button-cyan" id="button-order">確認訂購並付款</button>
        <a data-modal="modal-msg" class="trigger-msg" id="trigger-msg-booking"></a>
      </div>
    </form>
  </div>
{% endblock %}
{% block script %}
  <script type="module" src="{{ url_for('static', filename='booking.js') }}"></script>
  <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
  <script type="module" src="{{ url_for('static', filename='tappay.js') }}"></script>
  <script>
    TPDirect.setupSDK('{{ tappayAppId }}', '{{ tappayAppKey }}', 'sandbox')
  </script>
{% endblock %}