{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style_global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
{% endblock %}
{% block body %}
  <div id="hero">
    <div class="container">
      <div>輕鬆享受台北一日悠閒</div>
      <div>探索每個角落，體驗城市的深度旅遊行程</div>
      <form id="form-attraction-id">
        <label for="search-attraction-name">景點名稱</label>
        <input type="text" id="search-attraction-name" name="search-attraction-name" placeholder="輸入景點名稱查詢"></input><!----><button type="submit"></button>
      </form>
    </div>
  </div>
  <div id="container-attractions" class="container">
    <div class="msg-hint"></div>
    <div class="wrap-center">
      <div class="loader"></div>
    </div>
    <div class="grid">
      <div class="row"></div>
      <div class="sentinel"></div>
    </div>
  </div>
{% endblock %}