{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style_global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
{% endblock %}
{% block body %}
  <div id="hero">
    <div>
      <div class="container">
        <div>輕鬆享受台北一日悠閒</div>
        <div>探索每個角落，體驗城市的深度旅遊行程</div>
        <form>
          <label for="search-attraction-name">景點名稱</label>
          <input type="text" id="search-attraction-name" name="search-attraction-name" placeholder="輸入景點名稱查詢"></input><!----><button></button>
        </form>
      </div>
    </div>
  </div>
  <div id="attractions-container" class="container">
    <div class="grid">
      <div class="row"></div>
    </div>
  </div>
{% endblock %}