<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>台北一日遊</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_modal.css') }}">
  {% block head %}
    <!-- Page CSS -->
  {% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav role="navigation">
    <div class="container">
      <div id="nav-bar">
          <div id="nav-logo"><a href="/">台北一日遊</a></div>
          <div id="wrap-nav-item">
            <a id="nav-member" href="/member"></a>
            <a id="nav-booking">
              預定行程
              <span id="nav-booking-num"></span>
            </a>
            <a data-modal="modal-auth" id="trigger-auth"></a>
          </div>
      </div>
    </div>
  </nav>
  <main id="main">
    {% block body %}
      <!-- Dynamic Content -->
    {% endblock %}
  </main>
  <div id="progress-bar"></div>
  <footer>COPYRIGHT © 2021 台北一日遊</footer>
  <div class="modal" id="modal-auth">
    <div class="bg-modal exit-modal"></div>
    <div class="container-modal">
      <div class="decorate-line-modal"></div>
      <form id="form-auth">
        <div>登入會員帳號</div>
        <div class="wrap-field">
          <div class="field">
            <label for="user-email">e.g. example@email.com</label>
            <input type="text" id="user-email" name="user-email" placeholder="請輸入電子信箱">
            <div class="input-icon">
              <img src="/static/image/icon_error.svg">
            </div>
          </div>
          <div class="field">
            <label for="user-password">密碼須由 8 - 16 個英數字至少 1 個特殊符號組成</label>
            <input type="password" id="user-password" name="user-password" placeholder="請輸入密碼">
            <div class="input-icon">
              <img src="/static/image/icon_error.svg">
            </div>
          </div>
          <div class="field">
            <label for="user-name">請填寫真實中文姓名</label>
            <input type="text" id="user-name" name="user-name" placeholder="請輸入姓名">
            <div class="input-icon">
              <img src="/static/image/icon_error.svg">
            </div>
          </div>
        </div>
        <button type="submit" class="button-cyan">登入帳戶</button>
        <div class="sentinel msg-auth"></div>
        <div id="toggle-auth">
          <span>還沒有帳戶？</span>
          <a>點此註冊</a>
        </div>
      </form>
      <div class="close-modal exit-modal">
        <img src="/static/image/icon_close.png">
      </div>
    </div>
  </div>
  <a data-modal="modal-msg" class="trigger-msg" id="trigger-msg-global"></a>
  <div class="modal" id="modal-msg">
    <div class="bg-modal exit-modal"></div>
    <div class="container-modal">
      <div class="decorate-line-modal"></div>
      <div id="title-modal-msg"></div>
      <p id="content-modal-msg"></p>
      <button type="button" id="button-modal-msg" class="button-cyan"></button>
      <div class="close-modal exit-modal">
        <img src="/static/image/icon_close.png">
      </div>
    </div>
  </div>
  <script type="module" src="{{ url_for('static', filename='apis.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='utils.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
    {% block script %}
      <!-- Page Script -->
    {% endblock %}
</body>
</html>